
/*****************************************************************/

* { /*global landing page*/
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

/*****************************************************************/

.cab { /*elemento header*/
    padding: 70px;
    background-color:#7e0703;
}

/*****************************************************************/

.menu-header { /*ul lista não ordenada*/

    display: flex;
    justify-content: end;
}

/*****************************************************************/

.lista { /*tag li da lista não ordena*/
    flex-wrap: wrap;
}

/*****************************************************************/

.link { /*tag a dos links*/
    color:#ffff;
    margin-left: 20px;
    font-size: 12px;
}

/*****************************************************************/

.link:hover { /*hover da tag a*/
    color:#633280;
    transition: 1s;

}

/*****************************************************************/

#session {
    background: linear-gradient(90deg, rgba(189,80,63,1) 0%, rgba(223,124,101,1) 0%, rgba(235,232,232,1) 100%);
    padding: 15rem;
}

/*****************************************************************/

#session h2{
    font-size: 3em; /*48px*/
    color: rgba(0, 0, 0, 0.704);
}

/*****************************************************************/

#session p{
    font-size: 2.3em;
    margin: 20px 0;
}

/*****************************************************************/

#session button{
    padding: 25px;
    border-radius: 50px;
    border-color:rgb(19,153,108);
    width: 20em;
    cursor: pointer;
    color:rgb(19,153,108)
}

/*****************************************************************/

#session button:hover {
    color:#ffff;
    background-color: #7e0703;
    transition: 0,1s;
    border-color:#ffff;
    
}

/*****************************************************************/

#session_app {
    padding: 15rem;
    display: flex;
    background-color: #ffcfba;
    justify-content: space-around;
   
}

/*****************************************************************/

#session_app p {
    font-size: 2.9em;
    margin-bottom: 20px;
}

#session_app img {
    width: 30rem;
    height: 30rem;
    margin-left: 50px;
    margin-top: -70px ;
}


/*****************************************************************/

#session_app button{
    padding: 25px;
    border-radius: 50px;
    border-color:rgb(19,153,108);
    width: 20em;
    cursor: pointer;
    color:rgb(19,153,108)
}

/*****************************************************************/

#session_app button:hover {
    color:#ffff;
    background-color: #7e0703;
    transition: 0,1s;    
    border-color:#ffff;
}

/*****************************************************************/

#saiba_mais {
    padding: 15rem;
    background-color: #ffcfba;
    /* padding: 200px; */
}

/*****************************************************************/

#saiba_mais h2 {
   font-size: 2.5em;
   text-align: center;
   color: rgba(7, 7, 99, 0.697);
   margin-top: -20rem;
}

/*****************************************************************/

#saiba_mais p {
    font-size: 1.4rem;
    color: rgb(34, 34, 74);
    margin-bottom: 1.8rem;
    text-align: left;

}


#saiba_mais button{
    padding: 25px;
    border-radius: 50px;
    border-color:rgb(19,153,108);
    width: 20em;
    cursor: pointer;
    color:rgb(19,153,108)
}

/*****************************************************************/

#saiba_mais button:hover {
    color:#ffff;
    background-color: #7e0703;
    transition: 0,1s;   
    border-color:#ffff; 
}

/*****************************************************************/

#saiba_mais img {
width: 45rem;
margin-left: 170px;
}

/*****************************************************************/

#session_cofre {
    display: flex;
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101,0.745) 100%), url(img/img_cofre_fundo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-evenly;
    padding: 8rem;
    
}

/*****************************************************************/

#session_cofre img {
    width: 35rem;
    height: auto;
    margin-top: 9rem;
    
}

/*****************************************************************/

#session_cofre h2 {
    color: #ffff;
    font-size: 1.8rem;
    text-align: center;
    
}

/*****************************************************************/

#session_cofre p {
    color: #ffff;
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
    
    
}

/*****************************************************************/

/* body {
    background-image: url(img/img_cofre_fundo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
} */

/*****************************************************************/

.rodape {
   background-color: #4b0c07;
   padding: 4rem;
   text-align: center;
   
}

/*****************************************************************/

.rodape img {
    width: 20rem;
}

/*****************************************************************/

.rodape .div_footer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
   
}

/*****************************************************************/

.line {
    width: 70%;
    height: 200%;
    margin: 4rem auto;
}

/*****************************************************************/

.rodape p {
    margin-top: 2rem;
    font-size: 1rem;
    color: black;
}

/*****************************************************************/

.rodape a {
    font-size: 1rem;
    color: #ffff;
}

/*****************************************************************/

.rodape a:hover {
    color:#633280;
    transition: 1s;
}

/*****************************************************************/


/*
Undiades de Medida:
https://www.alura.com.br/artigos/guia-de-unidades-no-css

- px (pixel) é uma unidade de muedida de tamanho fixo. Nao altera de acordo com a resolução de tela.
- em () trabalha em relação ao tamanho da fonte do elemento pai. Ex 1em, 2em onde o número é o valor multiplicador do tamnaho da fonte pai.
Obs. o tamanho default de uma fonte é 16px.
- rem ("root em") é o tamanho de fonte do elemento-raiz do documento, ou seja, o elemento pai maior. No caso o HTML.
- vw (viewport width) largura em relação ao tamanho da tela do usuário.
- vh (viewport heigth) altura em relação ao tamanho da tela do usuário.
*/