
/*****************************************************************/

* { /*global landing page*/
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

/*****************************************************************/

.cab { /*elemento header*/
    padding: 70px;
    background-color:#7e0703;
}

/*****************************************************************/

.menu-header { /*ul lista não ordenada*/

    display: flex;
    justify-content: end;
}

/*****************************************************************/

.lista { /*tag li da lista não ordena*/
    flex-wrap: wrap;
}

/*****************************************************************/

.link { /*tag a dos links*/
    color:#ffff;
    margin-left: 20px;
    font-size: 12px;
}

/*****************************************************************/

.link:hover { /*hover da tag a*/
    color:#633280;
    transition: 1s;

}

/*****************************************************************/

#session_1 {
    background-color: #df7c65;
    /* padding: 200px; */
}

/*****************************************************************/

#session_app {
    display: flex;
    background-color: #ffcfba;
    /* padding: 200px; */
}

/*****************************************************************/

.div.img-app {
   
}

/*****************************************************************/

#saiba_mais {
    background-color: #ffcfba;
    /* padding: 200px; */
}

/*****************************************************************/

#session_cofre {
    display: flex;
    background-color: #633280;
    opacity: 70%;
}

/*****************************************************************/

body {
    background-image: url(img/img_cofre_fundo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/*****************************************************************/

.rodape {
    background-color: #4b0c07;
    display: block;
    justify-content: center;
   
}



/*****************************************************************/


/*
Undiades de Medida:
https://www.alura.com.br/artigos/guia-de-unidades-no-css

- px (pixel) é uma unidade de muedida de tamanho fixo. Nao altera de acordo com a resolução de tela.
- em () trabalha em relação ao tamanho da fonte do elemento pai. Ex 1em, 2em onde o número é o valor multiplicador do tamnaho da fonte pai.
Obs. o tamanho default de uma fonte é 16px.
- rem ("root em") é o tamanho de fonte do elemento-raiz do documento, ou seja, o elemento pai maior. No caso o HTML.
- vw (viewport width) largura em relação ao tamanho da tela do usuário.
- vh (viewport heigth) altura em relação ao tamanho da tela do usuário.
*/